* {
    margin: 0;
    padding: 0px;
    font-size: 18px;
    /* font-weight: 300; */
    font-family: 'Outfit', sans-serif;
}

body {
    padding: 20px;
    background-color: #0d192b;
    font-weight: 300;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #14253d  ;
    border-radius: 20px;
    padding: 25px;
}

figure img {
    max-width: 275px;
    border-radius: 10px;
    /* min-width: 200px; */
}

.days-left, .note, .first {
    color: #8bacda;
}

.second, .heading {
    color: #ffffff;
}

.eth-price {
    color: #00fff7;
}

.creator img{
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.heading, .note, .wrapper, .creator{
    padding-top: 15px;
    font-size: 18px;
}

.heading {
    font-weight: 600;
    font-size: 1.2rem;
}
.wrapper {
    font-weight: 400;  
    display: flex;
    justify-content: space-between; 
}

.creator {
    display: flex;
    text-align: center;
}
