* {
    margin: 0;
    padding: 0px;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}

body {
    padding: 25px;
    background-color: #0d1a2d;
    font-weight: 300;
}

.container {
    /* position: fixed; */
    min-width: 275px;
    background-color: #14253d  ;
    border-radius: 20px;
    padding: 25px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.equil-img{
    background-image: url(images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 275px;
    border-radius: 10px;
}

.days-left, .quote, .first {
    color: #8bacda;
}

.second, .heading {
    color: #ffffff;
}

.eth-price {
    color: #00fff7;
}

.creator img{
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.heading, .wrapper, .creator, .quote{
    padding-top: 20px;
}

.heading {
    font-weight: 600;
    font-size: 1.3rem;
}
.wrapper {
    font-weight: 400;  
    display: flex;
    justify-content: space-between; 
    padding-bottom: 20px;
    border-bottom: 1px solid #2f415b;
}

.wrapper img {
    padding-right: 7px;
}

.wrapper p {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.creator {
    display: flex;
    text-align: center;
    gap: 15px;
}

@media (min-width: 415px){
    .container {
        min-width: 275px;
        max-width: 275px;
    }

    .container-bg {
        min-width: 365px;
        min-height: 550px;
        margin-top: 30px;
        background-color: #0c1729;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 50px;
    }

    .container-bg-bg {
        min-width: 445px;
        min-height: 650px;
        margin-top: 30px;
        background-color: #0c192c;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -2;
        border-radius: 60px;
    }
}
